html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

header {
  background-color: #40ad48;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

#big-three {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding: 175px 50px 150px 50px;
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;

}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  top: 0;
  padding: 20px 0 0 0
}

nav ul {
  list-style: none;
  text-align: right;
}

nav ul li {
  display: inline;
  margin: 0 17px;
}

nav .active {
  border-bottom: 5.0px solid #333;
}

nav a {
  text-decoration: none;
  color: #333;
  padding-bottom: 5px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav a:hover {
  text-decoration: none;
  color: #adadad;
}

#veevee {
  width: 145px;
  margin: 0 20px;
  fill: #fdfdfd;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#veevee:hover {
  fill: #333;
}

#veevee path {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#veevee path:hover {
  fill: #333;
}

.logo {
  fill: #002b55;
}

#the-ailment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
}

.ailment {
  font-weight: 900;
  font-style: italic;
  font-size: 80px;
  max-width: 750px;
  color: #333;
  margin-top: 50px;
}

#hereforyou {
  margin: 0;
  font-size: 80px;
  font-weight: 800;
  color: #fdfdfd;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

#hereforyou a {
  text-decoration: none;
  color: #fdfdfd;
}

.black-underline {
  margin-bottom: 20px;
  border-bottom: 10px solid #333;
}

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#buttons a {
  text-decoration: none;
  font-size: 25px;
  color: #333;
  margin: 0 25px;
  padding: 20px 40px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 10px 10px 0 #333;
          box-shadow: 10px 10px 0 #333;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#buttons a:hover {
  color: #40ad48;
  -webkit-box-shadow: 10px 10px 0 #adadad;
          box-shadow: 10px 10px 0 #adadad;
}

.scroll-arrow {
  color: #fdfdfd;
  font-size: 50px;
  text-align: center;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;

}

.scroll-arrow i {
  -webkit-animation: fadeInUp 1s ease-out, arrowBounce 1s 1.5s infinite ease-in-out;
          animation: fadeInUp 1s ease-out, arrowBounce 1s 1.5s infinite ease-in-out;
}

.scroll-arrow a {
  color: #fdfdfd;
}

section {
  padding: 100px 50px;
}

section p {
  width: 100%;
  max-width: 700px;
  font-size: 24px;
  line-height: 1.5;
  margin: 12px auto;
}

section a {
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

section h1 {
  max-width: 700px;
  width: 100%;
  font-size: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about a, #location a {
  color: #fdfdfd;
  border-bottom: 10.0px solid #333;
}

#about a:hover, #location a:hover {
  color: #333;
}

#about p {
  background-color: #fdfdfd;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  max-width: 800px;
  margin-bottom: 50px;
  width: 100%;
}

.padded-multiline {
  line-height: 1.3;
  padding: 2px 0;
  border-left: 30px solid #40AD48;
  max-width: 600px;
  margin: 20px 0;
}

.padded-multiline h2 {
  background-color: #40AD48;
  font-size: 50px;
  padding: 4px 0;
  color: #fdfdfd;
  display: inline;
  margin: 0;
}

.padded-multiline h2 strong {
  position: relative;
  left: -15px;
}

#staff-photo {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-image: url('staff@2x.jpg');
  background-size: cover;
  background-position: center center;
  margin: 0 0 -185px 0;
  height: 500px;
  width: 700px;
  z-index: -2;
  -webkit-box-shadow: 20px 20px 0 #333;
          box-shadow: 20px 20px 0 #333;
}

.microbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0 0 0;
}

.microbox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  max-width: 375px;
  margin: 0 20px;
  padding: 10px 20px;
  border: 1.0px solid #adadad;
}

.microbox p {
  font-size: 15px;
}

.microbox h3 {
  color: #40AD48;
  text-align: center;
}

.microbox ul {
  font-size: 15px;
  margin-bottom: 10px;
  -webkit-columns: 2;
          columns: 2;
  list-style-position: inside;
  padding-left: 10px;
}

.microbox ul li {
  margin: 0 0 15px 0;
}

#about .microbox a {
  color: #40AD48;
  border-bottom: 0;
  text-decoration: underline;
}

#about .microbox a:hover {
  text-decoration: none;
}

#referrals {
  background-color: #40ad48;
  color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#referrals strong {
  color: #fdfdfd;
}

#referrals h1 {
  color: #fdfdfd;
}

#referrals a {
  color: #fdfdfd;
  border-bottom: 3.0px solid #333;
}

.reftable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 900px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reftableitem {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  max-width: 250px;
}

#referrals .reftableitem a {
  color: #fdfdfd;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.reftableitem a:hover {
  color: #adadad;
}

#location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hours-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 400px;
  margin: 20px 0;
  font-size: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
      text-align: center;
}

.hours-cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 32%;
  padding: 10px;
  overflow: hidden;
}

.day {
  font-weight: 700;
  text-align: left;
}

.address {
  text-align: center;
}

.subway-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 700px;
  margin-top: 20px;
}

.subway-container img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.map-container {
  max-width: 700px;
}

#location iframe {
  margin-top: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px;
  background-color: #40AD48;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdfdfd;
}

footer div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

footer a {
  text-decoration: none;
  color: #fdfdfd;
  border-bottom: 2.0px solid #333;
}

footer img {
  max-width: 250px;
  margin-bottom: 10px;
}

footer #nope {
  border-bottom: 0;
}

.fadeInUp {
  visibility: visible;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes arrowBounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-6px,0);
            transform: translate3d(0,-6px,0);
  }
}

@keyframes arrowBounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-6px,0);
    transform: translate3d(0,-6px,0);
  }
}

@media all and (max-height: 1100px) {
  #buttons {
    padding-top: 30px;
  }
}
@media all and (max-height: 1000px) {
  #big-three {
    padding-top: 140px;
    padding-bottom: 100px;
  }
  .ailment, #hereforyou {
    font-size: 60px;
  }
  #the-ailment-container {
    height: 140px;
  }
}

@media all and (max-width: 875px) {
  .ailment {
    font-size: 60px;
  }
  #hereforyou {
    font-size: 60px;
  }
  #buttons a {
    font-size: 20px;
  }
}
@media all and (max-height: 775px) {
  #big-three {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .ailment, #hereforyou {
    font-size: 50px;
  }
  #the-ailment-container{
    height: 122px;
  }
  #buttons {
    padding-top: 20px;
  }
  #buttons a {
    font-size: 16px;
    
  }
}
@media all and (max-height: 615px) {
  #big-three {
    flex-flow: row wrap;
  }
  #the-ailment-container {
    flex: 1 1 50%;
    height: auto;
    align-items: flex-start;
  }
  #hereforyou {
    flex: 1 1 50%;
  }
  #buttons {
    flex: 100%;
    height: 59px;
  }
}
@media all and (max-width: 800px) {
  section {
    padding: 75px 50px;
  }
  section p {
    font-size: 20px;
  }
  #staff-photo {
    margin: 0 auto 20px 0;
    height: 400px;
    width: 100%;
    background-image: url("staff.jpg");
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
  }
  .padded-multiline {
    padding: 3px 0;
  }
  .padded-multiline h2 {
    font-size: 30px;
  }
  .about-container {
    margin-bottom: 10px;
  }
  .microbox-container {
    margin: 40px;
  }
  .microbox:first-child {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 700px) {
  #location iframe {
    width: 100%;
  }
}
@media all and (max-width: 650px) {
  #buttons a {
    margin: 0 7px;
  }
}
@media all and (max-width: 575px) {
  header {
    padding: 0 20px;
    display: none;
  }
  section {
    padding: 20px 20px;
  }
  nav {
    position:relative;
    background-color: #40AD48;
    padding: 0;
  }
  nav a {
    color: #fdfdfd;
  }
  nav ul {
    padding: 0 0 0 10px;
  }
  nav ul li {
    display: block;
    margin: 10px 15px;
  }
  .ailment, #hereforyou {
    font-size: 40px;
  }
  .black-underline {
    border-bottom: 5px solid #333;
  }
  #staff-photo {
    height: 200px;
  }
  .hidden {
    visibility: visible;
  }
  .microbox ul {
    font-size: 12px;
  }
  .hours-table {
    font-size: 12px;
  }
}
